@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-body: var(--font-poppins);
}

body {
  font-family: var(--font-body);
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
